.row {
  display:          table;
}
[class*="col-"] {
  float:            none;
  display:          table-cell;
  vertical-align:   middle;
}
.container {
  width:            50%;
  margin-left:      auto;
  margin-right:     auto;
}
a, a:hover {
  color:            #000000;
  text-decoration:  none;
}
.footer {
  font-size:        0.8em;
  margin-top:       1em;
  margin-left:      auto;
  margin-right:     auto;
}
